*{
    margin:0;
    padding:0;
}
.dark{
    background-color:white;
    
}
/* display background color black on navbar scroll */

.logo{
    width: 140px;
    height: 80px;
    cursor: default;
    
}
.white{
    color:rgb(4, 4, 4);
    font-size: 20px;
    font-weight: 700;

}
.white:hover{
    color:white;
    background-color: black;
    border-radius: 5px;
    transition-delay: 0.1;
    
}

/*=======================
	Start Fun Facts CSS
=========================*/
.fun-facts{
	position:relative;
}
.fun-facts.section{
	padding:120px 0;
}
.fun-facts{
	background:url('images/img16.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}
.fun-facts .single-fun {
	
}
.fun-facts .single-fun i {
	position: absolute;
	left: 0;
	font-size: 62px;
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 67px;
	font-size: 28px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 0px;
	top: 50%;
	margin-top: -35px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 50%;
}
.fun-facts .single-fun:hover i{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.fun-facts .single-fun .content {
	padding-left: 80px;
}
.fun-facts .single-fun span {
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	position: relative;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s eas;
	display: block;
	margin-bottom: 7px;
}
.fun-facts .single-fun p{
	color:#fff;
	font-size:15px;
}
/*===================
	End Fun Facts
=====================*/





/* test css above hero image*/
.hero_title{
    font-size: 4.5rem;
}
.hero_desc{
   font-size: 2rem;
}
.hero-text{
    text-align:center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#5077ae;
}
.image{
    width: 50%;
    height: 150px;
    border-radius: 5%;
    
}

#about{
    margin-top: 150px;
}
/* services section css */
#services{
    margin-top: 150px;
}
.servicesText.card{
    height: 280px;
    cursor:pointer;

}
.servicesIcon{
    font-size:36px;
    text-align: center;
    width:100%;
}
.card-title{
    text-align:center;
}
.card:hover .servicesIcon{
    color:#1967d3;

}
.servicesText:hover{
    border:1px solid #1967d3;
    box-shadow:10px 10px #e6eaf4 ;
    padding-top: 25px;

}
.portfolioText:hover{
    border:1px solid #1967d3;
    /* box-shadow:10px 10px #cb5832 ; */
    margin-top: 25px;
    transition: ease-in-out;
}
#portfolio{
    margin-top: 150px;
}
.portfolio{
    cursor:pointer;

}
#contact{
    margin-top: 150px;
    border:1px solid #f8fafc;
    box-shadow:10px 10px #f6f8fc ;
    padding-top: 25px;
}


/* social media icons styling */
.social-icons{
    font-size:36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover{
    color:white;
}
.fab{
    color: #090808;
}

/*=========================
	Start Footer CSS
===========================*/
.footer{
	position:relative;
}
.footer .footer-top{
	padding:100px 0px;
	position:relative;
	background:#1A76D1;
}
.footer .footer-top:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.1;
}
.footer .single-footer{
	
}
.footer .single-footer .social{
	margin-top:25px;
}
.footer .single-footer .social li{
	display:inline-block;
	margin-right:10px;
}
.footer .single-footer .social li:last-child{
	margin-right:0px;
}
.footer .single-footer .social li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #fff;
	text-align: center;
	padding: 0;
	border-radius: 100%;
	display: block;
	color:#fff;
	font-size: 16px;
}
.footer .single-footer .social li a:hover{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.footer .single-footer .social li a i{
	
}
.footer .single-footer.f-link li a i{
	margin-right:10px;
}
.footer .single-footer.f-link li{
	display:block;
	margin-bottom:12px;
}
.footer .single-footer.f-link li:last-child{
	margin:0;
}
.footer .single-footer.f-link li a {
	display: block;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}
.footer .single-footer.f-link li a:hover{
	padding-left:8px;
}
.footer .single-footer h2{
	color:#fff;
	font-size:20px;
	font-weight:600;
	text-transform:capitalize;
	margin-bottom:40px;
	padding-bottom:20px;
	text-transform:capitalize;
	position:relative;
}
.footer .single-footer h2::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 3px;
	width: 50px;
	background: #fff;
}
.footer .single-footer .time-sidual{
	margin-top:15px;
}
.footer .single-footer .time-sidual{
	overflow:hidden;
}
.footer .single-footer .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span{
	display:inline-block;
	float:right;
}
.footer .single-footer .day-head .time {
	font-weight: 400;
	float: right;
}
.footer .single-footer p{
	color:#fff;
}
.footer .single-footer .newsletter-inner{
	margin-top:20px;
	position:relative;
}
.footer .single-footer .newsletter-inner input {
	background: transparent;
	border: 1px solid #fff;
	height: 50px;
	line-height: 42px;
	width: 100%;
	margin-right: 15px;
	color: #fff;
	padding-left: 18px;
	padding-right: 70px;
	display: inline-block;
	float: left;
	border-radius: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
	border-radius: 5px;
}
.footer .single-footer .newsletter-inner input:hover{
	padding-left: 22px;
}
.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer .single-footer .newsletter-inner .button {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	width: 50px;
	background: #fff;
	border-left: 1px solid #fff;
	text-shadow: none;
	box-shadow: none;
	display: inline-block;
	border-radius: 0px;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
	color: #1A76D1;
	font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.footer .single-footer .newsletter-inner .button:hover i{
	color:#2C2D3F;
}
.footer .copyright{
	background:#1A76D1;
	padding:25px 0px 25px 0px;
	text-align:center;
}
.footer .copyright .copyright-content p{
	color:#fff;
}
.footer .copyright .copyright-content p a{
	color:#fff;
	font-weight:400;
	text-decoration:underline;
	display:inline-block;
	margin-left:4px;
}
/*=========================
	End Footer CSS
===========================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .fun-facts.section{
        padding:70px 0;
    }
    .fun-facts .single-fun {
        margin: 20px 0;
    }
    .footer .single-footer {
        margin: 20px 0;
    }
    .footer .single-footer h2 {
        padding-bottom: 20px;
    }
    .footer .footer-top {
        padding: 65px 0px;
    }
    .servicesText:hover{
        border:1px solid #1967d3;
        box-shadow:10px 10px #e6eaf4 ;
        padding-top: 25px;
    
    }
    .portfolioText:hover{
        border:1px solid #1967d3;
        /* box-shadow:10px 10px #cb5832 ; */
        margin-top: 25px;
        transition: ease-in-out;
    }
}

/* Mobile Screen */
@media only screen and (max-width: 767px) {
    .fun-facts.section{
        padding:70px 0;
    }
    .fun-facts .single-fun{
        margin:0;
        margin:15px 0;
        position:relative;
    }
    .fun-facts .single-fun {
        margin: 35px 0;
        padding-top: 60px;
        text-align: center;
    }
    .fun-facts .single-fun i {
        left: 50%;
        margin-left: -35px;
        top:0;
        position:absolute;
    }
    .fun-facts .single-fun .content {
        padding:0;
    }
    .footer .single-footer {
        margin: 20px 0;
    }
    .footer .single-footer h2 {
        padding-bottom: 20px;
    }
    .footer .footer-top {
        padding: 65px 0px;
    } 
    .servicesText:hover{
        border:1px solid #1967d3;
        box-shadow:10px 10px #e6eaf4 ;
        padding-top: 25px;
    
    }
    .portfolioText:hover{
        border:1px solid #1967d3;
        /* box-shadow:10px 10px #cb5832 ; */
        margin-top: 25px;
        transition: ease-in-out;
    }   
}
